{% extends 'base.html' %}
{% load static %}

{% block css %}<link rel="stylesheet" type="text/css" href="{% static "css/MainStyle.css" %}">{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row Subscriber-Box">
        <div class="col-sm-4 text-center Subscriber-Title m-auto">
            <p class="P-35 F-P"><i class="fa fa-envelope"></i> Subscribe Newsletter</p>
            <p class="P-20">Subscribe to our mailing list to get the web update to your email</p>
        </div>
        <div class="col Subscriber-Form m-auto">
            <div class="form-group">
                <form id="subscribeForm">
                    {% csrf_token %}
                    {% for field in form.visible_fields %}
                        <p class="FormError P-15 p-0 my-2" id="{{ field.name }}Error"></p>
                        {{ field }}
                    {% endfor %}
                    <button type="submit" class="btn BC-P F-W" id="subscribeButton">Subscribe</button>
                </form>
            </div>
        </div>
    </div>
    <div class="ListSubscriber">
    	<div>
    		<p class="P-35 F-P text-center">Subscriber List</p>
    	</div>
		<div class="table-container">
				<div class="table-responsive-sm">
					<table class="table table-hover P-20">
						<thead class="text-center">
							<tr>
								<th class="w-4 align-middle">No</th>
								<th class="w-32 align-middle">Name</th>
								<th class="w-32 align-middle">Email</th>
								<th class="w-32 align-middle">Unsubscribe</th>
					      	</tr>
					    </thead>
					    <tbody id="subscriberTable" class="text-center">
					    </tbody>
					</table>
				</div>
			</div>
		</div>
    </div>
    <!-- Modal -->
	<div class="modal fade" id="templateModal" role="dialog">
		<div class="modal-dialog modal-dialog-centered modal">
			<div class="modal-content">
				<div class="modal-header">
					<p class="modal-title P-30 F-P col-12 text-center"></p>
				</div>
				<div class="modal-body P-20 text-center">
					<p class="modal-body-text"></p>
				</div>
				<div class="modal-footer">
					<button type="button" id="modalClose" class="btn BC-P F-W" data-dismiss="modal">Close</button>
				</div>
			</div> 
		</div>
	</div>
	<div class="modal fade" id="unsubscribeModal" role="dialog">
		<div class="modal-dialog modal-dialog-centered modal">
			<div class="modal-content">
				<div class="modal-header">
					<p class="modal-title-2 P-30 F-P text-center">  Confirm your password</p>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body P-20 text-center">
					<p class="modal-body-text-2 FormError"></p>
					<div class="input-group w-100 p-3">
					    <input type="password" class="form-control" id="unsubscribePassword" placeholder="Password" value="">
				  	</div>
				</div>
				<div class="modal-footer">
					<button type="button" id="passwordConfirm" class="btn BC-P F-W">Confirm</button>
				</div>
			</div> 
		</div>
	</div>
</div>
{% endblock content %}
{% block script %}<script src="{% static "js/Subscriber.js" %}"" type="text/javascript"></script>{% endblock %}
