/* Text */
p {font-family: "muli";}

.Border-W {
	border-style: solid;
	border-width: 5px;
	border-color: #FFFFFF;
}

.P-15 {font-size: 15px;}

.P-20 {font-size: 20px;}

.P-25 {font-size: 25px;}

.P-30 {font-size: 30px;}

.P-35 {font-size: 35px;}

.P-50 {font-size: 50px;}

.B-600 {font-weight: 600px;}

/* Font Color*/

.F-P {color: #B34D69;}

.F-W {color: white;}

/* Background Color */

.BC-P {background-color: #C06C84;}

/** Main **/
/*Cover Photo*/
.Profile {
	padding: 100px 0 0 0;
	width: 20%;
	position: fixed;
}

.ProfilePhoto {
	margin-top: 3.5%;
	height: 13vw;
	width: 13vw;
	border-radius: 10%;
}

/*Left Biodata*/
.Age {margin-top: -15px;}

.Contact {padding: 10% 0;}

.Contact-Title {
	background-color: black;
	padding: 2% 20%;
}

.Con {margin: 2% 0 0 0; padding: 2%;}

.Con a {text-decoration: none;}

/*Data*/
.Data {
	width: 80%;
	padding: 0 0 0 30px;
	margin-top: 80px;
}

.Accordion {
	padding: 10px 20px;
	margin: 10px 0;
	cursor: pointer;
	padding: 18px;
	outline: none;
	width: 100%;
	transition: 0.4s;
}

.active, .Accordion:hover {background-color: #8F3D54;}

.Panel {
	padding: 0 18px;
	display: none;
	background-color: white;
	overflow: hidden;
}

/*Interests*/
.Int-Icon {
	height: 130px;
	width: 130px;
	border-radius: 50%;
	background-color:#E0B8C3;
	box-shadow: 0 10px 20px #C0C0C0;
}

.Int-Icon-Image {margin: 13% 0 0 15%;}

.Int-Value {margin: 10% 0;}

/* Skills */
#SkillRow {
	height: 10%;
	margin: 2% 0;
}

.progress {
	overflow: hidden;
	height: 30px;
	background-color:#C4C4C4;
}

.progress-bar {height: 100%;}

.progressBrown {background-color: #592727!important;}

.progressPurple {background-color: #B34D69!important;}

/*Recent Activities*/
.Activity-Value {margin: 1% 2%;}

.Committee-Image {
	height: 200px;
	width: 200px;
}

.Committee-Value {margin: 2% 0 5% 0;}

/*Achievements*/
#AchRow {margin: 3% 0;}

.Ach-Explanation {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.Ach-Icon {
	width: 130px;
	height: 130px;
}

/*Experiences*/
.Experience {padding: 1% 1% 1% 1%;}


/** Books **/
.User-Title {margin: 0px 0 20px 0;}

.Books-Title {margin: 130px 0 20px 0;}

.Total {width: 30%;}

.Search-Form {width: 70%;}

.input-group {width: 50%;}

.w-16 {width: 16%;}

.w-15 {width: 15%;}

.w-5 {width: 5%;}

thead {color: white;}

.Checked {color: orange!important;}

.table-container {margin-top: 50px;}

/** Subscriber **/
.Subscriber-Box {margin: 150px 0 0 0;}

.Subscriber-Title {padding-left: 5%;}

.form-group {padding-left: 10%;}

.form-control {margin-bottom: 2%;}

.FormError {color: red;}

.ListSubscriber {margin-top: 100px;}

.w-32 {width: 32%;}

.w-4 {width: 4%;}

/** Login **/
.Login-Container {padding: 10% 35% 5% 35%;}

.Login {height: 500px;}

.GoogleBtn {
	padding-top: 3%;
	background-color: white;
}

.Login-Title {color: white;}

.GoogleBtn:hover {background-color: #F2F2F2;}

.GoogleLogo {
	width: 40px;
	height: 40px;
}

.GoogleText {
	margin-left: 20px;
	color: #4d4d4d!important;
	text-decoration: none;
}

/* Media */
@media screen and (max-width:1300px) {
	.P-20 {font-size: 18px;}

	.P-25 {font-size: 23px;}

	.P-30 {font-size: 28px;}

	.P-50 {font-size: 40px;}

	.Data {margin-top: 80px;}

	.Int-Icon {
		width: 120px;
		height: 120px;
	}

	.form-control {margin-bottom: 4%;}
}

@media screen and (max-width:1030px) {
	.P-20 {font-size: 15px;}

	.P-25 {font-size: 20px;}

	.P-30 {font-size: 25px;}

	.Data {margin-top: 70px;}
}

@media screen and (max-width:992px) {
	.P-20 {font-size: 13px;}

	.P-25 {font-size: 18px;}

	.P-30 {font-size: 21px;}

	.form-control {margin-bottom: 5%;}

	.Login-Container {padding: 30% 5% 5% 5%;}
}

@media screen and (max-width:768px) {
	.table td, th {font-size: 15px;}

	.Profile {width: 25%;}

	.ProfilePhoto {
		width: 130px;
		height: 130px;
	}

	.Data {width: 75%;}

	.input-group {width: 80%;}
}

@media screen and (max-width:700px) {
	.P-20 {font-size: 23px;}

	.P-25 {font-size: 25px;}

	.P-30 {font-size: 30px;}

	.Profile {
		width: 100%;
		padding: 15% 2%;
		position: static;
	}

	.ProfilePhoto {
		width: 170px;
		height: 170px;
	}

	.Data {
		width: 100%;
		padding: 1%;
		margin-top: 1%;
	}

	.Subscriber-Box {margin: 120px 0 0 0;}

	.Subscriber-Title {padding:0 0 10% 0;}

	.form-group {padding-left: 0;}

	.form-control {margin-bottom: 7%;}
}
