/*NavBar*/
.navbar {
	background-color:#000000;
	padding: 0.75%;
}

.nav-link:hover, a:hover, .loginOut:hover{
	color: #FFFFFF !important;
    text-decoration: none;
}

#logoutLink:hover {
    text-decoration: none;
    color: #000000 !important;
}

#logoutLink:active {
    background-color: #CCCCCC;
}

.navbar-toggler {
	font-size: 25px;
}

.dropdown-menu {
	padding: 1%;
	margin: 1%;
	font-size: 1vw;
}

ul {
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #000000;
}

li {
	margin-left: 2%;
	list-style-type: none;
}

.nav-link, .SubscribeNow {
	display: block;
	text-decoration: none;
	color: rgba(255,255,255,.5)!important;
	font-family:muli;
    font-size: 25px;
}

.material-icons {font-size:25px;}

#themeButton {
    background-color: #CE2029;
    color: white;
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.Page {
	display: none;
}

.loginOut {
    background-color: #000000!important;
    color: rgba(255,255,255,.5)!important;
    font-size: 25px;
}

/* Loader */

#loader:before { /* Outside Circle */
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 5px solid transparent;
    border-top-color: #793535;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}

#loader { /* Middle Circle */
    display: block;
    position: relative;
    top: 38%;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid transparent;
    border-top-color: #C06C84;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

#loader:after { /* Inside Circle */
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 5px solid transparent;
    border-top-color: #CE2029;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@media screen and (max-width:768px) {
    a {font-size: 20px;}

    #themeButton {
        font-size: 20px;
    }
}