p {font-family: "muli";}

/*Status*/
.Top {
	height: auto;
	margin: 110px 0 50px 0;
    overflow: hidden;
}

.Hello {
	width: 20%;
	height: 15vw;
	background-color: #CE2029;
	padding: 3%;
	float: left;
}

.Hello p {
	font-size: 2.5vw;
	text-align: center;
	margin: 0; padding: 0;
	color: white;
}

.Form {
	margin: 3%;
	width: 70%;
	float: left;
}

.form-group {
    font-size: 1.5vw;
}

.form-control {
    font-size: 1vw;
    padding: 1%;
    vertical-align: text-top;
}

textarea.form-control {
	height: 5vw;
	resize: none;
}

.btn-danger {
	width: 4vw;
	height: 4vw;
    background-color: gray;
    border: none;
    color: white;
    padding: 0;
    font-size: 2vw;
    cursor: pointer;
    float: right;
}

.btn2:hover {
    background-color: #CE2029;
}

.Bottom {
	padding: 2%;
}

.Posts-Title {
	height: 5vw;
	margin-left: 5%;
}

.Posts-Title p {
	font-size: 3vw;
    font-weight: bold;
}

.Status-Container {
	background-color: #AD5049;
	padding: 5%;
	padding-top: 3%;
	padding-bottom: 1%;
}

.My-Status {
	overflow: auto;
    margin-bottom: 5%;
    padding-bottom: 3%;
    background-color: white;
}

.Photo {
	width: 8%;
	float: left;
	padding: 1%;
	height: 100%;
}

.Profile-Photo {
	display: block;
    position:relative;
    height: 5vw;
    width: 5vw;
    text-align: center;
}

.Post {
	width: 90%;
	padding: 1%;
	padding-left: 0;
}

.Name {font-size: 1.5vw;}

.Date {font-size: 1.2vw;}

.New-Post {font-size: 1.3vw;}

.No-Status {padding-left: 5%;}

.No-Status p {
	margin-top: 2%;
	font-size: 1.5vw;
}

.errorlist {
    background-color: white;
    font-size: 2vw;
    color: red;
}

@media screen and (max-width:768px) {
    .Top {
    	margin-top: 50px;
    	margin-bottom: 10px;
    }

    .Hello {
		width: 30%;
		height: 75px;
	}

	.Hello p {font-size: 15px;}

	.Form {
		width: 60%;
		margin-top: 4px;
	}

	.form-group {font-size: 10px;}

	.form-control {font-size: 8px;}

	textarea.form-control {height: 25px;}

	.btn-danger {
		width: 18px;
		height: 18px;
	    font-size: 10px;
		margin-top: -10px;
	}

	.Posts-Title {height: 28px;}

	.Posts-Title p {font-size: 18px;}

	.Photo {width: 15%;}

	.Profile-Photo {
	    height: 35px;
	    width: 35px;
	}

	.Post {width: 85%;}

	.Name {
	    font-size: 12px;
	    margin-top: -3px;
	}

	.Date {font-size: 10px;}

	.New-Post {
		font-size: 11px;
		margin-top: 2px;
	}

	.No-Status p {font-size: 10px;}

	.errorlist {font-size: 8px;}
}