{% extends 'base.html' %}
{% load static %}

{% block css %}<link rel="stylesheet" type="text/css" href="{% static "css/MainStyle.css" %}">{% endblock %}

{% block content %}
<div class="container-fluid Login-Container h-100 w-100 BC-P">
	<div class="Login text-center">
		{% if user.is_authenticated %}
		<div class="text-center Login-Title">
	        <p class="P-50 p-5"> Log Out </p>
	    </div>
		<div class="btn GoogleBtn">
		     <a href="/../Books/logout" style="text-transform:none" class="P-20">
		         <div class="GoogleLogo float-left">
		             <img width="20px" alt="Google &quot;G&quot; Logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"/>
		         </div>
		         <p class="float-right GoogleText p-0 my-0">Log Out</p>
		     </a>
		</div>
		{% else %}
		<div class="text-center Login-Title">
	        <p class="P-50 p-5"> Sign In </p>
	    </div>
		<div class="btn GoogleBtn">
		     <a href="{% url 'social:begin' 'google-oauth2' %}" style="text-transform:none" class="P-20">
		         <div class="GoogleLogo float-left">
		             <img width="20px" alt="Google &quot;G&quot; Logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"/>
		         </div>
		         <p class="float-right GoogleText p-0 my-0">Sign in with Google</p>
		     </a>
		</div>
		{% endif %}
	</div>
</div>
{% endblock content %}
