{% extends 'base.html' %}
{% load static %}

{% block css %}<link rel="stylesheet" type="text/css" href="{% static "css/MainStyle.css" %}">{% endblock %}

{% block content %}
	<div class="Books-Title">
		<p class="P-50 text-center">Most Popular Books This Month</p>
	</div>
	{% if user.is_authenticated %}
		<div class="User-Title">
			<p class="P-30 text-center"><i class="material-icons md-3">person</i> Hello, {{ user.username }}</p>
		</div>
	{% endif %}
	<div>
		<div class="Total p-3 float-left">
			<i class="fa fa-star Checked P-30 float-left p-2"></i><p class="Total-Star P-30 float-left p-0">{{ num_fav }}</p>
		</div>
		<div class="Search-Form p-2 float-right">
		  	<div class="input-group float-right p-3">
			    <input type="text" name="bookType" class="form-control float-left" id="bookType" placeholder="Search Book" value="">
		    	<div class="input-group-btn">
		      		<button class="btn BC-P F-W" id="submitSearch">
		        		<i class="fa fa-search"></i>
		      		</button>
		    	</div>
		  	</div>
		</div>
	</div>
	<div class="table-container">
		<div class="table-responsive-sm">
			<table class="table table-hover P-20">
				<thead class="text-center">
					<tr>
						<th class="w-5 align-middle">No</th>
						<th class="w-15 align-middle">Image</th>
						<th class="w-16 align-middle">Title</th>
						<th class="w-16 align-middle">Author</th>
						<th class="w-16 align-middle">Publisher</th>
						<th class="w-16 align-middle">Published Date</th>
						<th class="w-16 align-middle">Favorite</th>
			      	</tr>
			    </thead>
			    <tbody id="booksTable" class="text-center">
			    </tbody>
			</table>
		</div>
	</div>
	<!-- Modal -->
	<div class="modal fade" id="loginModal" role="dialog">
		<div class="modal-dialog modal-dialog-centered modal">
			<div class="modal-content">
				<div class="modal-header">
					<p class="modal-title-2 P-30 F-P text-center"> Login Requirement </p>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body P-20 text-center">
					<p class="modal-body-text">You are required to login to add favorites!</p>
				</div>
				<div class="modal-footer">
					<button type="button" id="loginBtn" class="btn BC-P F-W">Log in</button>
				</div>
			</div> 
		</div>
	</div>
{% endblock content %}
{% block script %}<script src="{% static "js/Books.js" %}"" type="text/javascript"></script>{% endblock %}