<!DOCTYPE html>
<html lang="en">
	<head>
		{% load static %}
		<title>{% block title %}Profil Juli!{% endblock %}</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link href='https://fonts.googleapis.com/css?family=Marck Script' rel='stylesheet'>
		<link href='https://fonts.googleapis.com/css?family=Shadows Into Light' rel='stylesheet'>
		<script src="https://apis.google.com/js/platform.js" async defer></script>
		{% block Navbar %}<link rel="stylesheet" type="text/css" href="{% static "css/NavbarStyle.css" %}">{% endblock %}
		{% block css %}{% endblock %}
	</head>
	<body>
		<div class="mx-auto" id="loader"></div>
		<div class="Page">
			<nav class="navbar navbar-expand-sm navbar-dark fixed-top">
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse p-2" id="collapsibleNavbar">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link P-25" href="/">Status</a>
						</li>
						<li class="nav-item">
							<a class="nav-link P-25" href="/../Main">Profile</a>
						</li>
						<li class="nav-item">
							<a class="nav-link P-25" href="/../Books">Books</a>
						</li>
					</ul>
					{% if user.is_authenticated %}
					<div class="dropdown">
						<button type="button" class="btn btn-lg ml-auto mx-3 F-W P-25 dropdown-toggle loginOut px-0" data-toggle="dropdown">
							<i class="material-icons md-3">person</i> {{ user.username }}</button>
					  	<div class="dropdown-menu">
					    	<a class="dropdown-item" id="logoutLink">Log out</a>
					  	</div>
					</div>
					{% else %}
					<div><a href="/Login"><button type="button" class="btn btn-lg ml-auto mx-3 F-W P-25 loginOut px-2">Log In</button></a></div>
					{% endif %}
					<div><button type="button" class="btn btn-lg ml-auto BC-P F-W" id="themeButton">Change Theme <i class="fa fa-paint-brush"></i></button></div>
				</div>
			</nav>
			{% block content %}
			{% endblock content %}
			<script src="{% static "js/Main.js" %}"" type="text/javascript"></script>
			{% block script %}{% endblock %}
		</div>
	</body>
</html>
