{% extends 'base.html' %}
{% load static %}

{% block css %}<link rel="stylesheet" type="text/css" href="{% static "css/StatusStyle.css" %}">{% endblock %}
{% block title %}Status Juli!{% endblock %}
{% block content %}
	<div class="Top">
		<div class="Hello">
			<p>Hello, Apa Kabar?</p>
		</div>
		<div class="Form">
			<div class="form-group">
				<form id="form" method="POST" action="{% url 'Status:saveStatus' %}">
					{% csrf_token %}
		        	{{ form.as_p}}
					<button type="submit" class="btn btn-danger" id="submit"><i class="fa fa-pencil"></i></button>
				</form>
			</div>
		</div>
	</div>
	<div class="Bottom">
		<div class="Posts-Title">
			<p>Recent Posts</p>
		</div>
		{% if status %}
		<div class="Status-Container">
			{% for data in status %}
			<div class="My-Status">
				<div class="Photo">
					<img src="{% static "img/julia.jpg" %}" alt="photo" class="Profile-Photo">
				</div>
				<div class="Post float-left">
					<div class="row m-0">
						<div class="col p-0">
							<p class="Name m-0 p-0 font-weight-bold">Julia Ningrum</p>
						</div>
						<div class="col p-0">
							<p class="Date m-0 p-0 float-right">{{ data.date|date:"M d, Y" }} at {{ data.date|time:"H:i"}}</p>
						</div>
					</div>
					<div class="row m-0">
						<p class="New-Post m-0 p-0 float-left">{{ data.new_status }}</p>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
		{% else %}
			<div class="No-Status">
				<p class="m-0 p-0">Add your first status!</p>
			</div>
		{% endif %}
	</div>
{% endblock content %}
