{% extends 'base.html' %}
{% load static %}

{% block css %}<link rel="stylesheet" type="text/css" href="{% static "css/MainStyle.css" %}">{% endblock %}

{% block content %}
	<div class="Profile text-center BC-P h-100">
		<div class="Photo">
			<img src="{% static "img/julia.jpg" %}" alt="photo" class="ProfilePhoto Border-W">
		</div>
		<div>
			<p class="B-600 P-30 text-white">Julia Ningrum</p>
			<p class="Age P-20 B-600 text-white">18 Years Old</p>
		</div>
		<div class="Contact">
			<p class="Contact-Title d-inline-block P-20 m-0 text-white">Contact</p>
			<p class="Con P-20 m-0 text-white"><i class="fa fa-envelope"></i> Julia.ningrum@ui.ac.id</p>
			<p class="Con m-0"><a href="https://www.facebook.com/julia.winx" class="text-white P-20"><i class="fa fa-facebook-square"></i> Juliani Scarlet</a></p>
			<p class="Con m-0"><a href="https://www.instagram.com/julianiscrlt/" class="text-white P-20"><i class="fa fa-instagram"></i> julianiscrlt</a></p>
			<p class="Con m-0"><a href="https://gitlab.com/Juliani27" class="text-white P-20"><i class="fa fa-gitlab"></i> Juliani27</a></p>
		</div>
		<a class="P-15 m-0 p-0 text-center SubscribeNow" href="/../Subscribe"><u>Subscribe Now!</u></a>
	</div>
	<div class="Data float-right">
		<button class="Accordion text-left P-25 text-white BC-P border-0">Biodata</button>
			<div class="Panel">
				<p class="P-20"><i class="material-icons md-3">home</i> Jatinegara, Jakarta-Timur</p>
				<p class="P-20"><i class="material-icons md-3">cake</i> Jakarta, July 27th 2000</p>
				<p class="P-20"><i class="material-icons md-3">school</i> Computer Science - University of Indonesia</p>
				<p class="P-20"><i class="material-icons md-3" id="edu">chat</i> I Can Do It!</p>
			</div>
		<button class="Accordion text-left P-25 text-white BC-P border-0">Educational Background</button>
			<div class="Panel">
				<div class="row">
					<div class="col"><p class="P-20 font-weight-bold">2005-2008</p></div>
					<div class="col-10"><p class="P-20">SDN 11 Belitung</p></div>
				</div>
				<div class="row">
					<div class="col"><p class="P-20 font-weight-bold">2008-2011</p></div>
					<div class="col-10"><p class="P-20">SDN Rawabunga 01 Pagi</p></div>
				</div>
				<div class="row">
					<div class="col"><p class="P-20 font-weight-bold">2011-2014</p></div>
					<div class="col-10"><p class="P-20">SMPN 36 Jakarta</p></div>
				</div>
				<div class="row">
					<div class="col"><p class="P-20 font-weight-bold">2014-2017</p></div>
					<div class="col-10"><p class="P-20">SMAN 54 Jakarta</p></div>
				</div>
				<div class="row">
					<div class="col"><p class="P-20 font-weight-bold">2017-Now</p></div>
					<div class="col-10"><p class="P-20">University of Indonesia</p></div>
				</div>
			</div>
		<button class="Accordion text-left P-25 text-white BC-P border-0">Interests</button>
			<div class="Panel">
				<div class="row">
					<div class="col">
						<div class="Int-Icon Border-W d-block m-auto"><img src="https://png.icons8.com/metro/1600/music.png" alt="music" class="Int-Icon-Image d-block w-75 h-75"></div>
						<p class="Int-Value text-center d-block P-30 F-P">Music</p>
					</div>
					<div class="col">
						<div class="Int-Icon Border-W d-block m-auto"><img src="https://cdn3.iconfinder.com/data/icons/black-easy/512/535112-game_512x512.png" alt="game" class="Int-Icon-Image d-block w-75 h-75"></div>
						<p class="Int-Value text-center d-block P-30 F-P">Game</p>
					</div>
					<div class="col">
						<div class="Int-Icon Border-W d-block m-auto"><img src="https://cdn3.iconfinder.com/data/icons/glypho-design/64/paint-brush-colors-artist-512.png" alt="art" class="Int-Icon-Image d-block w-75 h-75"></div>
						<p class="Int-Value text-center d-block P-30 F-P">Art</p>
					</div>
					<div class="col">
						<div class="Int-Icon Border-W d-block m-auto"><img src="https://educationatw.com/wp-content/uploads/2016/06/Languages-icon.png" alt="language" class="Int-Icon-Image d-block w-75 h-75"></div>
						<p class="Int-Value text-center d-block P-30 F-P">Language</p>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="Int-Icon Border-W d-block m-auto"><img src="https://d30y9cdsu7xlg0.cloudfront.net/png/62495-200.png" alt="coding" class="Int-Icon-Image d-block w-75 h-75"></div>
						<p class="Int-Value text-center d-block P-30 F-P">Coding</p>
					</div>
					<div class="col">
						<div class="Int-Icon Border-W d-block m-auto"><img src="https://cdn1.iconfinder.com/data/icons/nature-22/100/icon_leaf-leaves-double-01-512.png" alt="nature" class="Int-Icon-Image d-block w-75 h-75"></div>
						<p class="Int-Value text-center d-block P-30 F-P">Nature</p>
					</div>
					<div class="col">
						<div class="Int-Icon Border-W d-block m-auto"><img src="https://static.thenounproject.com/png/7433-200.png" alt="comic" class="Int-Icon-Image d-block w-75 h-75"></div>
						<p class="Int-Value text-center d-block P-30 F-P">Comic</p>
					</div>
					<div class="col">
						<div class="Int-Icon Border-W d-block m-auto"><img src="https://static.thenounproject.com/png/21701-200.png" alt="design" class="Int-Icon-Image d-block w-75 h-75"></div>
						<p class="Int-Value text-center d-block P-30 F-P" id="ski">Design</p>
					</div>
				</div>
			</div>
		<button class="Accordion text-left P-25 text-white BC-P border-0">Skills</button>
			<div class="Panel">
				<div class="row" id="SkillRow">
					<div class="col"><p class="Ski-Value d-inline-block P-25 m-O">Music</p></div>
					<div class="col-lg-10"><div class="progress d-inline-block w-100 m-0"><div class="progress-bar progressPurple P-20" style="width:80%;">80%</div></div></div>
				</div>
				<div class="row" id="SkillRow">
					<div class="col"><p class="Ski-Value d-inline-block P-25 m-O">Java</p></div>
					<div class="col-lg-10"><div class="progress d-inline-block w-100 m-0"><div class="progress-bar progressPurple P-20" style="width:50%;">50%</div></div></div>
				</div>
				<div class="row" id="SkillRow">
					<div class="col"><p class="Ski-Value d-inline-block P-25 m-O">Leadership</p></div>
					<div class="col-lg-10"><div class="progress d-inline-block w-100 m-0"><div class="progress-bar progressPurple P-20" style="width:80%;">80%</div></div></div>
				</div>
				<div class="row" id="SkillRow">
					<div class="col"><p class="Ski-Value d-inline-block P-25 m-O">Multitasking</p></div>
					<div class="col-lg-10"><div class="progress d-inline-block w-100 m-0"><div class="progress-bar progressPurple P-20" style="width:90%;">90%</div></div></div>
				</div>
				<div class="row" id="SkillRow">
					<div class="col"><p class="Ski-Value d-inline-block P-25 m-O">Reliability</p></div>
					<div class="col-lg-10"><div class="progress d-inline-block w-100 m-0"><div class="progress-bar progressPurple P-20" style="width:95%;">95%</div></div></div>
				</div>
			</div>
		<button class="Accordion text-left P-25 text-white BC-P border-0">Recent Activites</button>
			<div class="Panel">
				<div class="Committee">
					<div class="row"><p class="Activity-Value P-30 F-P">Committes</p></div>
					<div class="row">
						<div class="col">
							<img src="{% static "img/PMB.png" %}" alt="pmb" class="Committee-Image d-block m-auto">
							<p class="Committee-Value text-center P-20">Staff Akademis PMB Fasilkom UI 2018</p>
						</div>
						<div class="col">
							<img src="{% static "img/SIWAK.png" %}" alt="siwak" class="Committee-Image d-block m-auto">
							<p class="Committee-Value text-center P-20">Staff Danus SIWAKNG 2018</p>
						</div>
					</div>
				</div>
			</div>
		<button class="Accordion text-left P-25 text-white BC-P border-0">Achievements</button>
			<div class="Panel">
				<div class="row" id="AchRow">
					<div class="col"><img src="https://static.thenounproject.com/png/18791-200.png" alt="rubic" class="Ach-Icon d-block"></div>
					<div class="col-10"><p class="Ach-Explanation P-25"> 1st Place Rubik's Cube Competition Jambore 2012</p></div>
				</div>
				<div class="row" id="AchRow">
					<div class="col"><img src="https://image.freepik.com/free-icon/kanji-character_318-37273.jpg" alt="jlpt" class="Ach-Icon d-block"></div>
					<div class="col-10"><p class="Ach-Explanation P-25"> Japanese-Language Proviciency Test N5 </p></div>
				</div>
				<div class="row" id="AchRow">
					<div class="col"><img src="https://png.icons8.com/money-bag/win8/1600" alt="treasurer" class="Ach-Icon d-block"></div>
					<div class="col-10"><p class="Ach-Explanation P-25"> Best SMAN 54 Organisation Treasurer 2015/2016 </p></div>
				</div>
				<div class="row" id="AchRow">
					<div class="col"><img src="https://static.thenounproject.com/png/14215-200.png" alt="finalist" class="Ach-Icon d-block"></div>
					<div class="col-10"><p class="Ach-Explanation P-25"> Finalist Primagama Smart Competition 2016 </p></div>
				</div>
				<div class="row" id="AchRow">
					<div class="col"><img src="https://s3.amazonaws.com/tinycards/image/130624b7f2694d8050c138bf584ec331" alt="un" class="Ach-Icon d-block" ></div>
					<div class="col-10"><p class="Ach-Explanation P-25"> 1st Place Rodoku Competition Bulan Bahasa SMAN 54 </p></div>
				</div>
			</div>
		<button class="Accordion text-left P-25 text-white BC-P border-0">Experiences</button>
			<div class="Panel">
				<div class="Experience">
					<div class="row"><p class="P-25 B-600 F-P">1. General Treasurer of Language Extracurricular (XBASS) SMAN 54</p></div>
					<div class="row"><p class="Exp-Expl P-20">(2015-2016) Responsible for organisation's general financial oversight, financial planning and budgeting, financial reporting, and record keeping. </p></div>
				</div>
				<div class="Experience">
					<div class="row"><p class="P-25 B-600 F-P">2. Latihan Dasar Kepemimpinan dan Pelantikan Anggota Baru XBASS Project Officer</p></div>
					<div class="row"><p class="Exp-Expl P-20">(2016) Provides administrative and technical skills to support the project, and working with other team members to achieve project success.</p></div>
				</div>
				<div class="Experience">
					<div class="row"><p class="P-25 B-600 F-P">3. Study Tour Bahasa Asing Secretary</p></div>
					<div class="row"><p class="Exp-Expl P-20">(2016) Maintaning project effective records and administration to support and achieve project success </p></div>
				</div>
			</div>
	</div>
{% endblock content %}